{
  "plugins": [ "node" ],
  "extends": [ "eslint:recommended", "plugin:node/recommended" ],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-console": 0,
    "node/no-unsupported-features": [ 2, { "version": 4 }]
  }
}
